PackingEngine/bin
PackingEngine/jar
PackingEngine/lib
PackingEngine/build-main
PackingEngine/build-test
PackingEngine/dependency-report
PackingEngine/test-report
PackerGui/bin/
build
dist/*
!dist/.gitkeep
jogl/*
!jogl/README.txt